<div class="form-group">
	<p><%= f.radio_button :status, 'submitted' %>
	<%= f.label :status, 'Submitted' %>
	</p>

	<p><%= f.radio_button :status, 'approved' %>
	<%= f.label :status, 'Approved' %></p>

	<p><%= f.radio_button :status, 'rejected' %>
	<%= f.label :status, 'Rejected' %></p>
</div>

